# Logs
log/
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Yarn Integrity file
.yarn-integrity

# Configuration files
etc/

# sqlite db files
db/
